In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [111]:
df = pd.read_csv("https://minio.lab.sspcloud.fr/arougier/donneefinances/Quelsques_cours_Actions_Bourse_Paris.csv", sep=";")
df

,ticker,label,date,open,high,low,close,volume,currency
0,FR0010340141,ADP,43832,176.800,178.100,175.100,176.100,70483,EUR
1,FR0010340141,ADP,43833,176.000,176.000,173.200,173.700,45246,EUR
2,FR0010340141,ADP,43836,173.300,173.300,170.900,171.700,78258,EUR
3,FR0010340141,ADP,43837,172.700,173.100,171.900,172.100,36545,EUR
4,FR0010340141,ADP,43838,171.800,173.600,171.300,173.600,56082,EUR
...,...,...,...,...,...,...,...,...,...
7340,XC0009694271,NASDAQ Composite,11/11/2022,11124.749,11352.429,11069.829,11323.331,0,NaN
7341,XC0009694271,NASDAQ Composite,14/11/2022,11233.904,11350.125,11167.165,11196.220,0,NaN
7342,XC0009694271,NASDAQ Composite,15/11/2022,11474.820,11492.616,11241.152,11358.410,0,NaN
7343,XC0009694271,NASDAQ Composite,16/11/2022,11260.095,11286.101,11162.923,11183.659,0,NaN
7344,XC0009694271,NASDAQ Composite,17/11/2022,11008.672,11198.838,11006.213,11144.958,0,NaN

In [ ]:
#Il faut rajouter des statistiques descriptives sur le premier jeu de donnée

On remarque qu'il faut modifier cette base de données car certaines informations sont incomplètes, ou que les informations ne sont pas correctement mises pour notre analyse.
Par exemple, les dates ne sont pas écrite de la même manière, et les devises sont absentes pour certaines actions. Il faut donc modifier cela. Les dates pour chaques actions vont du 2 Janvier 2022 jusqu'au 17 Novembre 2022. Nous devons donc modifer cela pour chaque actions
Nous allons donc couper le tableau avec toutes les actions et effectuer cette modification sur chaque action puis remettre tous les tableaux ensemble

In [112]:
l = np.unique(df.label)
l

lst=[]
for x in l:
    lst.append(x)
    
print(lst)
len(lst)

['ADP', 'AXA', 'BNP PARIBAS', 'CAC 40', 'DANONE', 'DAX', 'NASDAQ Composite', 'Nikkei 225', 'SANOFI', 'SOCIETE GENERALE']

10

On remarque que certaines informations ne nous intéressent pas dans ces données, on décide alors de les effacés. Ces informations peuvent être intéressantes mais il est difficile d'intégrer le volumme des échanges dans notre modèle prédictoire.

In [113]:
new_df = df.drop(columns = ["ticker", "volume"])
new_df

,label,date,open,high,low,close,currency
0,ADP,43832,176.800,178.100,175.100,176.100,EUR
1,ADP,43833,176.000,176.000,173.200,173.700,EUR
2,ADP,43836,173.300,173.300,170.900,171.700,EUR
3,ADP,43837,172.700,173.100,171.900,172.100,EUR
4,ADP,43838,171.800,173.600,171.300,173.600,EUR
...,...,...,...,...,...,...,...
7340,NASDAQ Composite,11/11/2022,11124.749,11352.429,11069.829,11323.331,NaN
7341,NASDAQ Composite,14/11/2022,11233.904,11350.125,11167.165,11196.220,NaN
7342,NASDAQ Composite,15/11/2022,11474.820,11492.616,11241.152,11358.410,NaN
7343,NASDAQ Composite,16/11/2022,11260.095,11286.101,11162.923,11183.659,NaN
7344,NASDAQ Composite,17/11/2022,11008.672,11198.838,11006.213,11144.958,NaN

In [114]:
liste_df=[]

for i in range(len(lst)):
    df0=new_df[new_df.label==lst[i]]
    liste_df.append(df0)

In [115]:
liste_df

[    label   date    open    high     low   close currency
 0     ADP  43832  176.80  178.10  175.10  176.10      EUR
 1     ADP  43833  176.00  176.00  173.20  173.70      EUR
 2     ADP  43836  173.30  173.30  170.90  171.70      EUR
 3     ADP  43837  172.70  173.10  171.90  172.10      EUR
 4     ADP  43838  171.80  173.60  171.30  173.60      EUR
 ..    ...    ...     ...     ...     ...     ...      ...
 737   ADP  44876  143.00  146.95  142.70  146.50      EUR
 738   ADP  44879  146.25  149.20  146.25  147.55      EUR
 739   ADP  44880  147.35  150.20  146.65  148.05      EUR
 740   ADP  44881  147.85  148.20  140.90  141.80      EUR
 741   ADP  44882  142.15  143.10  140.90  142.60      EUR

 [742 rows x 7 columns],
      label   date    open    high     low   close currency
 2226   AXA  43832  25.390  25.585  25.315  25.460      EUR
 2227   AXA  43833  25.380  25.525  25.215  25.470      EUR
 2228   AXA  43836  25.200  25.255  24.905  25.135      EUR
 2229   AXA  43837  25.240  25.350  25.200  25.290      EUR
 2230   AXA  43838  25.140  25.375  25.100  25.280      EUR
 ...    ...    ...     ...     ...     ...     ...      ...
 2963   AXA  44876  26.565  26.935  26.445  26.590      EUR
 2964   AXA  44879  26.735  26.965  26.670  26.700      EUR
 2965   AXA  44880  26.820  26.830  26.335  26.630      EUR
 2966   AXA  44881  26.600  26.950  26.560  26.695      EUR
 2967   AXA  44882  26.825  26.855  26.250  26.630      EUR

 [742 rows x 7 columns],
             label   date   open   high    low  close currency
 1484  BNP PARIBAS  43832  53.20  54.00  53.18  53.58      EUR
 1485  BNP PARIBAS  43833  53.07  53.17  52.59  52.94      EUR
 1486  BNP PARIBAS  43836  52.04  52.70  51.64  52.68      EUR
 1487  BNP PARIBAS  43837  52.93  53.14  52.46  52.66      EUR
 1488  BNP PARIBAS  43838  52.27  53.02  52.01  52.78      EUR
 ...           ...    ...    ...    ...    ...    ...      ...
 2221  BNP PARIBAS  44876  51.30  52.04  50.97  51.76      EUR
 2222  BNP PARIBAS  44879  52.08  52.35  51.48  52.18      EUR
 2223  BNP PARIBAS  44880  52.33  52.78  51.97  52.47      EUR
 2224  BNP PARIBAS  44881  52.40  52.51  51.83  52.09      EUR
 2225  BNP PARIBAS  44882  52.37  52.55  51.71  52.51      EUR

 [742 rows x 7 columns],
        label        date     open     high      low    close currency
 4452  CAC 40  02/01/2020  6016.61  6062.92  6011.21  6041.50      NaN
 4453  CAC 40  03/01/2020  6007.96  6044.16  5994.59  6044.16      NaN
 4454  CAC 40  06/01/2020  6001.21  6017.97  5955.25  6013.59      NaN
 4455  CAC 40  07/01/2020  6033.22  6065.74  6000.00  6012.35      NaN
 4456  CAC 40  08/01/2020  5986.81  6031.00  5972.77  6031.00      NaN
 ...      ...         ...      ...      ...      ...      ...      ...
 5189  CAC 40  11/11/2022  6612.93  6636.81  6573.87  6594.62      NaN
 5190  CAC 40  14/11/2022  6622.42  6662.07  6603.56  6609.17      NaN
 5191  CAC 40  15/11/2022  6626.82  6684.09  6621.82  6641.66      NaN
 5192  CAC 40  16/11/2022  6647.40  6656.33  6587.20  6607.22      NaN
 5193  CAC 40  17/11/2022  6624.47  6634.73  6522.28  6576.12      NaN

 [742 rows x 7 columns],
        label   date    open   high     low   close currency
 742   DANONE  43832  74.280  74.56  73.900  73.980      EUR
 743   DANONE  43833  73.800  74.62  73.600  74.620      EUR
 744   DANONE  43836  73.960  74.80  73.580  74.760      EUR
 745   DANONE  43837  75.040  75.16  73.740  74.060      EUR
 746   DANONE  43838  73.800  73.84  72.340  72.560      EUR
 ...      ...    ...     ...    ...     ...     ...      ...
 1479  DANONE  44876  49.345  49.69  48.880  49.330      EUR
 1480  DANONE  44879  49.765  50.51  49.595  50.220      EUR
 1481  DANONE  44880  50.250  50.74  49.720  49.855      EUR
 1482  DANONE  44881  49.965  50.35  49.645  50.290      EUR
 1483  DANONE  44882  50.500  50.64  49.285  49.905      EUR

 [742 rows x 7 columns],
      label        date      open      high       low     close currency
 5194   DAX  02/01/2020  13233.71  13425.03  13225.16  13396.38      NaN
 5195   DAX  03/01/2020  13266.39  13282.74  13120.72  13203.52      NaN
 5196   DAX  06/01/2020  13085.49  13143.11  12948.17  13118.24      NaN
 5197   DAX  07/01/2020  13199.59  13283.88  13166.40  13229.35      NaN
 5198   DAX  08/01/2020  13140.49  13334.04  13106.27  13316.45      NaN
 ...    ...         ...       ...       ...       ...       ...      ...
 5923   DAX  11/11/2022  14179.39  14263.53  14172.47  14224.86      NaN
 5924   DAX  14/11/2022  14295.81  14431.18  14243.35  14313.30      NaN
 5925   DAX  15/11/2022  14372.42  14440.78  14266.42  14378.51      NaN
 5926   DAX  16/11/2022  14374.86  14382.62  14195.31  14234.03      NaN
 5927   DAX  17/11/2022  14348.46  14384.54  14149.70  14266.38      NaN

 [734 rows x 7 columns],
                  label        date       open       high        low  \
 6619  NASDAQ Composite  02/01/2020   9039.459   9093.428   9010.890
 6620  NASDAQ Composite  03/01/2020   8976.432   9065.756   8976.432
 6621  NASDAQ Composite  06/01/2020   8943.502   9072.408   8943.502
 6622  NASDAQ Composite  07/01/2020   9076.645   9091.929   9042.553
 6623  NASDAQ Composite  08/01/2020   9068.028   9168.887   9059.382
 ...                ...         ...        ...        ...        ...
 7340  NASDAQ Composite  11/11/2022  11124.749  11352.429  11069.829
 7341  NASDAQ Composite  14/11/2022  11233.904  11350.125  11167.165
 7342  NASDAQ Composite  15/11/2022  11474.820  11492.616  11241.152
 7343  NASDAQ Composite  16/11/2022  11260.095  11286.101  11162.923
 7344  NASDAQ Composite  17/11/2022  11008.672  11198.838  11006.213

           close currency
 6619   9092.189      NaN
 6620   9020.770      NaN
 6621   9071.465      NaN
 6622   9068.581      NaN
 6623   9129.242      NaN
 ...         ...      ...
 7340  11323.331      NaN
 7341  11196.220      NaN
 7342  11358.410      NaN
 7343  11183.659      NaN
 7344  11144.958      NaN

 [726 rows x 7 columns],
            label        date      open      high       low     close currency
 5928  Nikkei 225  06/01/2020  23319.76  23365.36  23148.53  23204.86      NaN
 5929  Nikkei 225  07/01/2020  23320.12  23577.44  23299.92  23575.72      NaN
 5930  Nikkei 225  08/01/2020  23217.49  23303.21  22951.18  23204.76      NaN
 5931  Nikkei 225  09/01/2020  23530.29  23767.09  23506.15  23739.87      NaN
 5932  Nikkei 225  10/01/2020  23813.28  23903.29  23761.08  23850.57      NaN
 ...          ...         ...       ...       ...       ...       ...      ...
 6614  Nikkei 225  11/11/2022  27868.69  28329.54  27837.09  28263.57      NaN
 6615  Nikkei 225  14/11/2022  28277.64  28305.04  27963.47  27963.47      NaN
 6616  Nikkei 225  15/11/2022  27940.26  28038.63  27903.27  27990.17      NaN
 6617  Nikkei 225  16/11/2022  28020.49  28069.25  27743.15  28028.30      NaN
 6618  Nikkei 225  17/11/2022  27952.21  28029.62  27910.01  27930.57      NaN

 [691 rows x 7 columns],
        label   date    open    high     low   close currency
 3710  SANOFI  43832  85.866  87.256  85.847  86.461      EUR
 3711  SANOFI  43833  86.365  87.122  85.943  86.997      EUR
 3712  SANOFI  43836  87.687  88.147  86.901  87.543      EUR
 3713  SANOFI  43837  87.984  88.166  86.968  87.237      EUR
 3714  SANOFI  43838  86.777  87.601  86.710  87.534      EUR
 ...      ...    ...     ...     ...     ...     ...      ...
 4447  SANOFI  44876  86.350  86.700  81.930  82.430      EUR
 4448  SANOFI  44879  82.990  85.210  82.630  84.090      EUR
 4449  SANOFI  44880  83.880  85.650  83.500  84.630      EUR
 4450  SANOFI  44881  84.580  85.340  84.240  84.720      EUR
 4451  SANOFI  44882  84.890  84.930  83.210  84.500      EUR

 [742 rows x 7 columns],
                  label   date    open    high     low   close currency
 2968  SOCIETE GENERALE  43832  31.325  31.825  31.285  31.655      EUR
 2969  SOCIETE GENERALE  43833  31.400  31.400  31.100  31.335      EUR
 2970  SOCIETE GENERALE  43836  30.905  31.120  30.500  31.080      EUR
 2971  SOCIETE GENERALE  43837  31.280  31.545  31.120  31.460      EUR
 2972  SOCIETE GENERALE  43838  31.205  31.790  31.100  31.770      EUR
 ...                ...    ...     ...     ...     ...     ...      ...
 3705  SOCIETE GENERALE  44876  23.780  24.125  23.620  23.925      EUR
 3706  SOCIETE GENERALE  44879  24.005  24.305  23.805  24.160      EUR
 3707  SOCIETE GENERALE  44880  24.145  24.525  24.115  24.405      EUR
 3708  SOCIETE GENERALE  44881  24.245  24.370  23.810  23.880      EUR
 3709  SOCIETE GENERALE  44882  24.020  24.190  23.580  24.080      EUR

 [742 rows x 7 columns]]

On a donc nos 10 tableaux, on remarque que 4 tableaux non pas de devises, il faut donc modifier cela. Seul le CAC 40 est en euro, et les 3 autres sont en dollars
On doit aussi changer les dates pour les autres tableaux

In [117]:
#on modifie d'abord les devises des actions

liste_df[3]=liste_df[3].fillna("EUR")
liste_df[5]=liste_df[5].fillna("EUR")
liste_df[6]=liste_df[6].fillna("USD")
liste_df[7]=liste_df[7].fillna("USD")
liste_df

[    label   date    open    high     low   close currency
 0     ADP  43832  176.80  178.10  175.10  176.10      EUR
 1     ADP  43833  176.00  176.00  173.20  173.70      EUR
 2     ADP  43836  173.30  173.30  170.90  171.70      EUR
 3     ADP  43837  172.70  173.10  171.90  172.10      EUR
 4     ADP  43838  171.80  173.60  171.30  173.60      EUR
 ..    ...    ...     ...     ...     ...     ...      ...
 737   ADP  44876  143.00  146.95  142.70  146.50      EUR
 738   ADP  44879  146.25  149.20  146.25  147.55      EUR
 739   ADP  44880  147.35  150.20  146.65  148.05      EUR
 740   ADP  44881  147.85  148.20  140.90  141.80      EUR
 741   ADP  44882  142.15  143.10  140.90  142.60      EUR

 [742 rows x 7 columns],
      label   date    open    high     low   close currency
 2226   AXA  43832  25.390  25.585  25.315  25.460      EUR
 2227   AXA  43833  25.380  25.525  25.215  25.470      EUR
 2228   AXA  43836  25.200  25.255  24.905  25.135      EUR
 2229   AXA  43837  25.240  25.350  25.200  25.290      EUR
 2230   AXA  43838  25.140  25.375  25.100  25.280      EUR
 ...    ...    ...     ...     ...     ...     ...      ...
 2963   AXA  44876  26.565  26.935  26.445  26.590      EUR
 2964   AXA  44879  26.735  26.965  26.670  26.700      EUR
 2965   AXA  44880  26.820  26.830  26.335  26.630      EUR
 2966   AXA  44881  26.600  26.950  26.560  26.695      EUR
 2967   AXA  44882  26.825  26.855  26.250  26.630      EUR

 [742 rows x 7 columns],
             label   date   open   high    low  close currency
 1484  BNP PARIBAS  43832  53.20  54.00  53.18  53.58      EUR
 1485  BNP PARIBAS  43833  53.07  53.17  52.59  52.94      EUR
 1486  BNP PARIBAS  43836  52.04  52.70  51.64  52.68      EUR
 1487  BNP PARIBAS  43837  52.93  53.14  52.46  52.66      EUR
 1488  BNP PARIBAS  43838  52.27  53.02  52.01  52.78      EUR
 ...           ...    ...    ...    ...    ...    ...      ...
 2221  BNP PARIBAS  44876  51.30  52.04  50.97  51.76      EUR
 2222  BNP PARIBAS  44879  52.08  52.35  51.48  52.18      EUR
 2223  BNP PARIBAS  44880  52.33  52.78  51.97  52.47      EUR
 2224  BNP PARIBAS  44881  52.40  52.51  51.83  52.09      EUR
 2225  BNP PARIBAS  44882  52.37  52.55  51.71  52.51      EUR

 [742 rows x 7 columns],
        label        date     open     high      low    close currency
 4452  CAC 40  02/01/2020  6016.61  6062.92  6011.21  6041.50      EUR
 4453  CAC 40  03/01/2020  6007.96  6044.16  5994.59  6044.16      EUR
 4454  CAC 40  06/01/2020  6001.21  6017.97  5955.25  6013.59      EUR
 4455  CAC 40  07/01/2020  6033.22  6065.74  6000.00  6012.35      EUR
 4456  CAC 40  08/01/2020  5986.81  6031.00  5972.77  6031.00      EUR
 ...      ...         ...      ...      ...      ...      ...      ...
 5189  CAC 40  11/11/2022  6612.93  6636.81  6573.87  6594.62      EUR
 5190  CAC 40  14/11/2022  6622.42  6662.07  6603.56  6609.17      EUR
 5191  CAC 40  15/11/2022  6626.82  6684.09  6621.82  6641.66      EUR
 5192  CAC 40  16/11/2022  6647.40  6656.33  6587.20  6607.22      EUR
 5193  CAC 40  17/11/2022  6624.47  6634.73  6522.28  6576.12      EUR

 [742 rows x 7 columns],
        label   date    open   high     low   close currency
 742   DANONE  43832  74.280  74.56  73.900  73.980      EUR
 743   DANONE  43833  73.800  74.62  73.600  74.620      EUR
 744   DANONE  43836  73.960  74.80  73.580  74.760      EUR
 745   DANONE  43837  75.040  75.16  73.740  74.060      EUR
 746   DANONE  43838  73.800  73.84  72.340  72.560      EUR
 ...      ...    ...     ...    ...     ...     ...      ...
 1479  DANONE  44876  49.345  49.69  48.880  49.330      EUR
 1480  DANONE  44879  49.765  50.51  49.595  50.220      EUR
 1481  DANONE  44880  50.250  50.74  49.720  49.855      EUR
 1482  DANONE  44881  49.965  50.35  49.645  50.290      EUR
 1483  DANONE  44882  50.500  50.64  49.285  49.905      EUR

 [742 rows x 7 columns],
      label        date      open      high       low     close currency
 5194   DAX  02/01/2020  13233.71  13425.03  13225.16  13396.38      EUR
 5195   DAX  03/01/2020  13266.39  13282.74  13120.72  13203.52      EUR
 5196   DAX  06/01/2020  13085.49  13143.11  12948.17  13118.24      EUR
 5197   DAX  07/01/2020  13199.59  13283.88  13166.40  13229.35      EUR
 5198   DAX  08/01/2020  13140.49  13334.04  13106.27  13316.45      EUR
 ...    ...         ...       ...       ...       ...       ...      ...
 5923   DAX  11/11/2022  14179.39  14263.53  14172.47  14224.86      EUR
 5924   DAX  14/11/2022  14295.81  14431.18  14243.35  14313.30      EUR
 5925   DAX  15/11/2022  14372.42  14440.78  14266.42  14378.51      EUR
 5926   DAX  16/11/2022  14374.86  14382.62  14195.31  14234.03      EUR
 5927   DAX  17/11/2022  14348.46  14384.54  14149.70  14266.38      EUR

 [734 rows x 7 columns],
                  label        date       open       high        low  \
 6619  NASDAQ Composite  02/01/2020   9039.459   9093.428   9010.890
 6620  NASDAQ Composite  03/01/2020   8976.432   9065.756   8976.432
 6621  NASDAQ Composite  06/01/2020   8943.502   9072.408   8943.502
 6622  NASDAQ Composite  07/01/2020   9076.645   9091.929   9042.553
 6623  NASDAQ Composite  08/01/2020   9068.028   9168.887   9059.382
 ...                ...         ...        ...        ...        ...
 7340  NASDAQ Composite  11/11/2022  11124.749  11352.429  11069.829
 7341  NASDAQ Composite  14/11/2022  11233.904  11350.125  11167.165
 7342  NASDAQ Composite  15/11/2022  11474.820  11492.616  11241.152
 7343  NASDAQ Composite  16/11/2022  11260.095  11286.101  11162.923
 7344  NASDAQ Composite  17/11/2022  11008.672  11198.838  11006.213

           close currency
 6619   9092.189      USD
 6620   9020.770      USD
 6621   9071.465      USD
 6622   9068.581      USD
 6623   9129.242      USD
 ...         ...      ...
 7340  11323.331      USD
 7341  11196.220      USD
 7342  11358.410      USD
 7343  11183.659      USD
 7344  11144.958      USD

 [726 rows x 7 columns],
            label        date      open      high       low     close currency
 5928  Nikkei 225  06/01/2020  23319.76  23365.36  23148.53  23204.86      USD
 5929  Nikkei 225  07/01/2020  23320.12  23577.44  23299.92  23575.72      USD
 5930  Nikkei 225  08/01/2020  23217.49  23303.21  22951.18  23204.76      USD
 5931  Nikkei 225  09/01/2020  23530.29  23767.09  23506.15  23739.87      USD
 5932  Nikkei 225  10/01/2020  23813.28  23903.29  23761.08  23850.57      USD
 ...          ...         ...       ...       ...       ...       ...      ...
 6614  Nikkei 225  11/11/2022  27868.69  28329.54  27837.09  28263.57      USD
 6615  Nikkei 225  14/11/2022  28277.64  28305.04  27963.47  27963.47      USD
 6616  Nikkei 225  15/11/2022  27940.26  28038.63  27903.27  27990.17      USD
 6617  Nikkei 225  16/11/2022  28020.49  28069.25  27743.15  28028.30      USD
 6618  Nikkei 225  17/11/2022  27952.21  28029.62  27910.01  27930.57      USD

 [691 rows x 7 columns],
        label   date    open    high     low   close currency
 3710  SANOFI  43832  85.866  87.256  85.847  86.461      EUR
 3711  SANOFI  43833  86.365  87.122  85.943  86.997      EUR
 3712  SANOFI  43836  87.687  88.147  86.901  87.543      EUR
 3713  SANOFI  43837  87.984  88.166  86.968  87.237      EUR
 3714  SANOFI  43838  86.777  87.601  86.710  87.534      EUR
 ...      ...    ...     ...     ...     ...     ...      ...
 4447  SANOFI  44876  86.350  86.700  81.930  82.430      EUR
 4448  SANOFI  44879  82.990  85.210  82.630  84.090      EUR
 4449  SANOFI  44880  83.880  85.650  83.500  84.630      EUR
 4450  SANOFI  44881  84.580  85.340  84.240  84.720      EUR
 4451  SANOFI  44882  84.890  84.930  83.210  84.500      EUR

 [742 rows x 7 columns],
                  label   date    open    high     low   close currency
 2968  SOCIETE GENERALE  43832  31.325  31.825  31.285  31.655      EUR
 2969  SOCIETE GENERALE  43833  31.400  31.400  31.100  31.335      EUR
 2970  SOCIETE GENERALE  43836  30.905  31.120  30.500  31.080      EUR
 2971  SOCIETE GENERALE  43837  31.280  31.545  31.120  31.460      EUR
 2972  SOCIETE GENERALE  43838  31.205  31.790  31.100  31.770      EUR
 ...                ...    ...     ...     ...     ...     ...      ...
 3705  SOCIETE GENERALE  44876  23.780  24.125  23.620  23.925      EUR
 3706  SOCIETE GENERALE  44879  24.005  24.305  23.805  24.160      EUR
 3707  SOCIETE GENERALE  44880  24.145  24.525  24.115  24.405      EUR
 3708  SOCIETE GENERALE  44881  24.245  24.370  23.810  23.880      EUR
 3709  SOCIETE GENERALE  44882  24.020  24.190  23.580  24.080      EUR

 [742 rows x 7 columns]]

On remarque donc que certaines de ces actions sont en dollars et non en euro, on va alors faire le taux de change en considérant la date du 17 Novembre 2022. Donc 1 dollars vaut 0.95 centimes.
Cela simplifie énormément les calcules car le prix du dollars change tous les jours, nous verrons si nous l'intégrons dans notre projet final.

In [135]:
liste_action_USA = [5,6]
for i in range(5,5+len(liste_action_USA)):
    liste_df[i].open = liste_df[i].open*0.95
    liste_df[i].high = liste_df[i].high*0.95
    liste_df[i].low = liste_df[i].low*0.95
    liste_df[i].close = liste_df[i].close*0.95
    liste_df[i] = liste_df[i].replace("USD", "EUR")
liste_df[6]

5
6

,label,date,open,high,low,close,currency
6619,NASDAQ Composite,02/01/2020,8587.48605,9093.428,9010.890,9092.189,EUR
6620,NASDAQ Composite,03/01/2020,8527.61040,9065.756,8976.432,9020.770,EUR
6621,NASDAQ Composite,06/01/2020,8496.32690,9072.408,8943.502,9071.465,EUR
6622,NASDAQ Composite,07/01/2020,8622.81275,9091.929,9042.553,9068.581,EUR
6623,NASDAQ Composite,08/01/2020,8614.62660,9168.887,9059.382,9129.242,EUR
...,...,...,...,...,...,...,...
7340,NASDAQ Composite,11/11/2022,10568.51155,11352.429,11069.829,11323.331,EUR
7341,NASDAQ Composite,14/11/2022,10672.20880,11350.125,11167.165,11196.220,EUR
7342,NASDAQ Composite,15/11/2022,10901.07900,11492.616,11241.152,11358.410,EUR
7343,NASDAQ Composite,16/11/2022,10697.09025,11286.101,11162.923,11183.659,EUR
7344,NASDAQ Composite,17/11/2022,10458.23840,11198.838,11006.213,11144.958,EUR

In [ ]:
#on modifie les dates

On fait désormais des graphiques des courbes des prix des différentes actions.

In [134]:
len(liste_action_USA)

2